@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin: 100px auto; width: 500px;">
        <h1>TEST 1</h1>
    </div>
</body>
</html>
